#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
1 VERSIONINFO
	FILEVERSION 1,4,8,0
{
	BLOCK "StringFileInfo"
	{
		BLOCK "04090025"
		{
			VALUE "FileDescription", "SA-MP IRC Plugin"
			VALUE "LegalCopyright", "Copyright © 2016 Incognito"
			VALUE "OriginalFilename", "irc.dll"
			VALUE "ProductName", "SA-MP IRC Plugin"
			VALUE "ProductVersion", "v1.4.8"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 1033, 37
	}
}
